@import './projects';
@import './skills';
@import './contacts';

.bo-container {
    display: flex;
    height: 100vh;
}

.bo-left-section {
    flex: 0 0 20%;
    background-color: rgb(33 33 33);
    overflow: auto;
    }

.bo-right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bo-header {
    background-color: rgba(0, 0, 0, 1);
}

.bo-main {
    flex: 1;
    overflow: auto;
    background-color: #161212;
    overflow-y: scroll;
    color: white;
}

.bo-home {
    min-height: 100%;
    width: 100%;
    // background-image: url('/assets/0018.jpg');
    // background-repeat: no-repeat;
    // background-size: cover; /* Adatta l'immagine al contenitore, coprendolo completamente */
    // background-position: center center;
}
